<% provide(:title,'Clients Page') %>
<div class='client_wrapper'>
	<div class='header'>
		<div class='add_client'>
			<%= link_to 'ADD CLIENT' , new_client_path %>
		</div>
		<div class='search_client'>
			
			<%= form_tag clients_search_page_path, method: :get do  %>

					    <table><tr>
							<td><%= search_field_tag :search, params[:search] %></td>
							<td><%= submit_tag 'SEARCH',:name => nil %></td></tr>
						</table>
			<%end%>
		</div>
	</div>
		<div class='client_list'>
		<div class='table_div'>
			<span id='loginflash'><% flash.each do |name, msg| %>
					<%= content_tag :div, msg, class: name %>
					<% end %>
					</span>
			<table class='client_table'>
				<tr>
					<th>S/N</th><th>FIRSTNAME</th><th>LASTNAME</th><th>NUMBER OF INVOICE</th>
				</tr>
					<% @clients.each do |client| %>
				<tr>
					<td><%= client.id %></td>
					<td><%= client.first_name %></td>
					<td><%= client.last_name %></td>
					<td>3</td>
					<td> <%= link_to "Archive",clients_path(client), method: :delete %>
					</td>
				</tr>
				<% end %>
			</table>
			<p>
					<%= will_paginate @clients %>
			</p>
		</div>
	</div>
<div>